.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 12px;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);

    .skill-set {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;

        p {
            font-family: 'Karla';
            font-weight: 700;
            font-style: Bold;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #3DCFB6;
        }
    }

    .skill-icons {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        min-height: 200px;
        max-width: 632px;
        width: 100%;
        gap: 48px;
        justify-content: flex-start;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            flex: 0 1 104px;
            width: 104px;

            #html,
            #css,
            #javascript,
            #material-design,
            #typescript,
            #angular,
            #firebase,
            #git-skill-icon,
            #rest-api,
            #scrum,
            #mindset {
                transform: scale(1);
                transition: transform 200ms ease-in-out;
            }

            #mindset-text {
                transition: all 200ms ease-out;
            }

            &:hover {

                #html,
                #css,
                #javascript,
                #material-design,
                #typescript,
                #angular,
                #firebase,
                #git-skill-icon,
                #rest-api,
                #scrum,
                #growth-mindset-img {
                    transform: scale(1.1);
                }

                #mindset-text {
                    color: #3DCFB6 !important;
                }
            }

            &:hover {
                #mindset {
                    transform: scale(1.1);
                }
            }

            img {
                width: 64px;
                height: 64px;
                max-width: 100%;
                height: auto;
            }

            p {
                color: #FFFFFF;
                text-align: center;
                white-space: normal;
                word-break: break-word;
            }

        }
    }

}
