<div id="skill" class="body">
  <div data-scroll-reveal class="skill-set scroll-reveal-left">
    <p>{{ translation.translate('SKILLS.TEC') }}</p>
    <app-skill-box></app-skill-box>
  </div>

  <div data-scroll-reveal class="skill-icons scroll-reveal-right" style="--reveal-delay: 100ms;">
    <div *ngFor="let skill of skills">
      <img
        [id]="skill.src" 
        [src]="'/assets/img/skill-icons/' + skill.src + '.png'"
        [alt]="skill.name"
      />
      <p>{{ skill.name }}</p>
    </div>
    <div class="mindset-item">
      <img id="mindset" src="/assets/img/skill-icons/mindset.png" alt="">
      <p id="mindset-text">{{ translation.translate('SKILLS.MINDSET_LABEL') }}</p>
      <div class="mindset-tooltip">{{ translation.translate('SKILLS.MINDSET_TOOLTIP') }}</div>
    </div>
  </div>
</div>
