.frontpage {
    height: 100vh;
    width: 100%;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    sub {
        font-weight: 300;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #FFFFFF;
    }

    .title-cache {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 755px;
        height: 216px;
        opacity: 1;
        gap: 40px;

        sub {
            font-family: 'Karla';
            font-weight: 700;
            font-style: Bold;
            font-size: 128px;
            line-height: 100%;
            letter-spacing: -2%;
        }


        .title-btns {
            display: flex;
            width: 363px;
            height: 48px;
            opacity: 1;
            gap: 48px;


            button {
                cursor: pointer;
                transition: background-color 0.3s;
                height: 48px;
                opacity: 1;
                gap: 10px;
                border-radius: 100px;
                border-width: 1px;
                padding-right: 24px;
                padding-left: 24px;
                border: 1px solid #FFFFFF;
                background-color: transparent;

                sub {
                    font-family: 'Karla';
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 120%;
                    letter-spacing: 0%;

                }
            }
        }
    }
}