@media (max-width: 1220px) {
  .box {
    width: 100% !important;
    max-width: 568px !important;
    height: auto !important;
    padding: 24px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .box p {
    width: auto !important;
  }

  .text-block {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .box p button {
    font-size: 36px !important;
  }

  .text-block p {
    font-size: 16px !important;
  }

  .text-block nav {
    max-width: 100% !important;
  }

  .box,
  .text-block {
    white-space: normal;
  }

  .headline {
    font-size: 48px !important;
  }
}

@media (max-width: 576px) {
  .headline {
    font-size: 30px !important;
  }
}