<div class="box">
    <p>Skill Set</p>
    <div class="text-block">
        <p> A short introduction of your skills. Highlight your experience of using different front-end technologies and
            emphasise your openness to learning and adapting to new technologies. Show how important it is for you to
            keep up with the rapid changes in web development.
        </p>
        <nav>
            <div>
                <p class="white">You need</p>
                <p class="turquoise">another skill?</p>
            </div>
            <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
        </nav>
    </div>
    <button class="button-hover-effect">
        <p>Let's Talk</p>
    </button>
</div>