<div class="box">
    <p class="headline">{{ translation.translate('SKILLS.HEADLINE') }}</p>
    <div class="text-block">
        <p>{{ translation.translate('SKILLS.INTRODUCTION') }}
        </p>
        <nav>
            <div>
                <p class="white">{{ translation.translate('SKILLS.QUESTION1') }}</p>
                <p class="turquoise">{{ translation.translate('SKILLS.QUESTION2') }}</p>
            </div>
            <p>{{ translation.translate('SKILLS.REQUEST') }}</p>
        </nav>
    </div>
    <button class="button-hover-effect" (click)="scrollToSection('contact-me')">
        <p>{{ translation.translate('SKILLS.BTN') }}</p>
    </button>
</div>