.banner {
  position: absolute;
  top: 82vh;
  left: 0;
  right: 0;
  height: 62px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transform: rotate(-3deg);
  background: #FFFFFF1F;
  backdrop-filter: blur(5.3px);
  padding: 12px 32px;
  box-sizing: border-box;

  .banner-track {
    display: flex;
    width: max-content;
    animation: scroll-banner 15s linear infinite;
  }

  .banner-content {
    display: flex;
    align-items: center;
    gap: 56px;
    white-space: nowrap;

    .point {
      width: 8px;
      height: 8px;
      border: 1px solid #3DCFB6;
      border-radius: 50%;
      background-color: #3DCFB6;
    }

    sub {
      font-family: 'Karla';
      font-weight: 400;
      font-size: 32px;
      line-height: 120%;
      color: #3DCFB6;
    }
  }
}

@keyframes scroll-banner {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
