<div class="banner">
  <div class="banner-track">
    <div class="banner-content">
      <sub>{{ translation.translate('BANNER.AVAILABILITY') }}</sub>
      <div class="point"></div>
      <sub>Frontend Developer</sub>
      <div class="point"></div>
      <sub>{{ translation.translate('BANNER.LOCATION') }}</sub>
      <div class="point"></div>
      <sub>{{ translation.translate('BANNER.WORK') }}</sub>
    </div>
    <div class="banner-content">
      <div class="point"></div>
      <sub>{{ translation.translate('BANNER.AVAILABILITY') }}</sub>
      <div class="point"></div>
      <sub>Frontend Developer</sub>
      <div class="point"></div>
      <sub>{{ translation.translate('BANNER.LOCATION') }}</sub>
      <div class="point"></div>
      <sub>{{ translation.translate('BANNER.WORK') }}</sub>
      <div class="point"></div>
    </div>
  </div>
</div>
