<div id="about" class="body">
    <div class="about-me">
        <img src="/assets/img/Bewerbungsfoto-schwarz-weiß.png" alt="">
        <div class="info-box">
            <p>{{ translation.translate('ABOUTME.WHOIAM') }}</p>
            <div class="info-text-box">
                <p>{{ translation.translate('ABOUTME.ABOUTME') }}</p>
                <sub>{{ translation.translate('ABOUTME.INTRODUCTION') }}</sub>
                <div>
                    <app-short-profile></app-short-profile>
                </div>
            </div>
        </div>
    </div>
</div>