<div id="about" class="body">
    <div class="about-me">
        <img
            data-scroll-reveal
            class="scroll-reveal-left"
            src="/assets/img/Bewerbungsfoto-schwarz-weiß.png"
            alt="">
        <div data-scroll-reveal class="info-box scroll-reveal-right" style="--reveal-delay: 90ms;">
            <p>{{ translation.translate('ABOUTME.WHOIAM') }}</p>
            <div class="info-text-box">
                <p>{{ translation.translate('ABOUTME.ABOUTME') }}</p>
                <sub>{{ translation.translate('ABOUTME.INTRODUCTION') }}</sub>
                <div>
                    <app-short-profile></app-short-profile>
                </div>
            </div>
        </div>
    </div>
</div>