.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .about-me {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1232px;
        height: auto;
        align-items: flex-start;
        margin-bottom: 32px;
        margin-left: 20px;
        margin-right: 20px;

        img {
            width: 100%;
            max-width: 568px;
            max-height: 568px;
            display: block;
            position: relative;
            border-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            object-fit: cover;
            object-position: 50% 20%;
            z-index: 2;
            overflow: hidden;
        }

        .info-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 568px;
            height: auto;
            margin-top: 98px;
            right: 0;
            gap: 20px;

            p {
                font-family: 'Karla';
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #3DCFB6;
            }

            .info-text-box {
                display: flex;
                flex-direction: column;

                width: 100%;
                max-width: 568px;
                height: auto;
                gap: 30px;
                border-width: 1px;
                border-radius: 30px;
                padding: 32px;
                background: #3DCFB61A;
                border: 1px solid #3DCFB6;
                backdrop-filter: blur(4px);

                p {
                    font-family: 'FiraCode';
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 64px;
                    letter-spacing: -3%;
                }

                sub {
                    font-family: 'Karla';
                    font-weight: 300;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-align: justify;
                    color: #FFFFFF;
                }


            }
        }
    }
}
