@media (max-width: 576px) {
  .body {
    gap: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    box-sizing: border-box;
  }

  div {
    flex-direction: column;
    gap: 8px !important;
    align-items: flex-start;
  }

  img {
    width: 24px !important;
    height: 24px !important;
  }

  p {
    font-size: 16px !important;
    word-break: break-word;
  }
}