<div class="policy-container">
  <h1>{{ t('POLICY.TITLE') }}</h1>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.IMPRINT.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.IMPRINT.CONTENT1') }}</p>
    <p>{{ t('POLICY.SECTIONS.IMPRINT.CONTENT2') }}</p>
    <p>{{ t('POLICY.SECTIONS.IMPRINT.CONTENT3') }}</p>
    <p>{{ t('POLICY.SECTIONS.IMPRINT.CONTENT4') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.EXPLORING.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.EXPLORING.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.ACCEPTANCE.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.ACCEPTANCE.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.SCOPE.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.SCOPE.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.PROPRIETARY.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.PROPRIETARY.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.USE.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.USE.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.DISCLAIMER.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.DISCLAIMER.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('POLICY.SECTIONS.INDEMNITY.TITLE') }}</h2>
    <p>{{ t('POLICY.SECTIONS.INDEMNITY.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <p>{{ t('POLICY.CONTACT') }}</p>
    <p class="date">{{ t('POLICY.DATE') }}</p>
  </div>

  <div class="policy-actions hover-underline">
    <a routerLink="/">{{ t('CONTACTME.POLICY1') }} {{ t('CONTACTME.POLICY2') }}</a>
  </div>
</div>
