<div id="contact-me" class="body">
    <div class="text-box">
        <div>
            <p>{{ translation.translate('CONTACTME.CONTACTME') }}</p>
            <p class="headline">{{ translation.translate('CONTACTME.HEADLINE') }}</p>
        </div>
        <div>
            <p class="question">{{ translation.translate('CONTACTME.PROBLEM') }}</p>
            <p class="answer">{{ translation.translate('CONTACTME.WORTH') }}</p>
            <div class="text-color-switch-box">
                <p class="answer">{{ translation.translate('CONTACTME.Question1') }}</p>
                <p class="answer turquoise">{{ translation.translate('CONTACTME.Question2') }}</p>
            </div>
        </div>
    </div>
    <app-contact-sheet></app-contact-sheet>
</div>