.body {
    display: flex;
    justify-content: space-between;

    .text-box {
        display: flex;
        gap: 40px;
        width: 586px;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                font-family: 'Karla';
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #3DCFB6;
            }

            .headline {
                font-family: 'FiraCode';
                font-weight: 700;
                font-style: Bold;
                font-size: 64px;
                line-height: 100%;
                letter-spacing: -3%;

            }

            .question {
                font-family: 'FiraCode';
                font-weight: 700;
                font-style: Bold;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: 0%;
            }

            .answer {
                font-family: 'Karla';
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0%;
                color: #FFFFFF;
            }

            .text-color-switch-box {
                display: flex;
                flex-direction: row;
                gap: 5px;
            }
        }
    }
}