@media (max-width: 992px) {

  .layer-right {
    display: flex;
    z-index: 5;
    pointer-events: auto;
    right: 15% !important;
    bottom: -200px;
    top: auto;
  }

  .layer-left {
    display: flex;
    z-index: 5;
    pointer-events: auto;
    left: 15% !important;
    bottom: -56px;
    top: auto;
  }
}

@media (max-width: 992px) {

  .layer-email {
    display: none;

    sub {
      display: none;
    }
  }

  .layer-right {
    bottom: -120px;
  }

  .layer-left {
    bottom: 0px;
    height: 312px;
  }

  .vector {
    height: 300px;
  }

}

@media (max-width: 576px) {

  .layer-right {
    right: 5% !important;
    bottom: -200px;
  }

  .layer-left {
    left: 5% !important;
    bottom: -72px;
  }
}

@media (max-width: 376px) {
  .layer-right {
    right: 0 !important;
    bottom: -200px;
  }

  .layer-left {
    left: 0 !important;
    bottom: -88px;
  }
}