.layers {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    pointer-events: none;

    .layers-inner {
        position: relative;
        width: calc(100% - 40px);
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        pointer-events: none;
    }
}

.layer-right {
    width: 32px;
    height: 480px;
    position: absolute;
    top: 50vh;
    right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    opacity: 1;
    pointer-events: auto;

    .layer-email {
        display: flex;
        align-items: center;
        justify-content: start;
        transform: rotate(270deg);
        opacity: 1;
        width: 0px;

        sub {
            font-family: 'Karla';
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #FFFFFF;
        }
    }

    .layer-icons {
        width: 32px;
        height: 76px;
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;

        .icon-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 32px;
            width: 32px;
            transform: scale(1);
            transition: transform 200ms ease-in-out;
        }

        .icon-link:hover img {
            transform: scale(1.1);
        }
    }
}

.layer-left {
    width: 30px;
    height: 312px;
    position: absolute;
    top: 50vh;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    pointer-events: auto;

    .layer-scroll-down {
        width: 30px;
        height: 48px;
        border-width: 1px;
        border-radius: 32px;
        border: 1px solid #3DCFB6;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        background-color: transparent;
    }

    .vector {
        border-color: #3DCFB6;
        height: 240px;
    }
}

.vector {
    height: 186px;
    border-width: 1px;
    border: 1px solid #FFFFFF;
}
