<div class="layer-right">
    <div class="layer-email">
        <sub>wulf.tino.gz@gmail.com</sub>
    </div>
    <div class="layer-icons">
        <img src="assets/img/icons/github-icon.png" alt="GitHub Icon">
        <img src="assets/img/icons/linkedin-icon.png" alt="LinkedIn Icon">

    </div>
    <div class="vector"></div>
</div>
<div class="layer-left">
    <button (click)="scrollToSection('about')" class="layer-scroll-down button-hover-effect">
        <img src="assets/img/arrow-down.png" alt="">
    </button>
    <div class="vector"></div>
</div>