@media (max-width: 992px) {

  .layer-right {
    display: flex;
    z-index: 50;
    pointer-events: auto;
    right: 15% !important;
    bottom: -170px;
    top: auto;
  }

  .layer-left {
    display: flex;
    z-index: 50;
    pointer-events: auto;
    left: 15% !important;
    bottom: 0;
    top: auto;
  }
}

@media (max-width: 992px) {

  .layer-email {
    display: none;

    sub {
      display: none;
    }
  }

}

@media (max-width: 576px) {

  .layer-right {
    right: 5% !important;
  }

  .layer-left {
    left: 5% !important;
  }
}

@media (max-width: 376px) {
  .layer-right {
    right: 0 !important;
  }

  .layer-left {
    left: 0 !important;
  }
}