.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: center;

    .header-inner {
        max-width: 1440px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            align-items: center;
            width: 100%;
            height: 28px;
            opacity: 1;
            gap: 24px;

            .language-switch {
                display: flex;
                align-items: center;
                width: 96px;
                height: 32px;
                border-radius: 100px;
                border: 1px solid #3DCFB6;
                background-color: rgba(61, 207, 182, 0.15);
                cursor: pointer;
                gap: 4px;

                .lang-option {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Karla';
                    font-weight: 600;
                    font-size: 14px;
                    border-bottom-left-radius: 100px;
                    border-bottom-right-radius: 100px;
                    border-radius: 50px;
                    color: #3DCFB6;
                    transition: all 125ms ease;
                    user-select: none;
                }

                .lang-option.active {
                    background-color: #3DCFB6;
                    color: #1C1C1C;
                }
            }

            .nav-links {
                display: flex;
                height: 26px;
                width: 100%;
                opacity: 1;
                gap: 24px;

                a {
                    width: 92px;
                    height: 26px;
                    opacity: 1;
                    // animation-timing-function: ease-out;
                    // animation-duration: 300ms;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 125ms ease-in-out;
                    white-space: nowrap;

                    &:hover {
                        color: #3DCFB6;
                    }
                }
            }
        }

        img {
            width: 82px;
            height: 62px;
        }
    }
}