.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: center;

    .header-inner {
        max-width: 1440px;
        width: 100%;
        padding: 0 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            align-items: center;
            width: 409px;
            height: 28px;
            opacity: 1;
            gap: 24px;

            .language-switch {
                display: flex;
                width: 84px;
                height: 28px;
                opacity: 1;
                border-radius: 100px;
                border-width: 1px;

            }

            .nav-links {
                display: flex;
                width: 301px;
                height: 26px;
                opacity: 1;
                gap: 24px;

                a {
                    width: 92px;
                    height: 26px;
                    opacity: 1;
                    animation-timing-function: ease-out;
                    animation-duration: 300ms;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}