.body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);

    .skill-set {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 96px;

        p {
            font-family: 'Karla';
            font-weight: 700;
            font-style: Bold;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #3DCFB6;
        }
    }

    .skill-icons {
        display: flex;
        flex-wrap: wrap;
        height: 428px;
        max-width: 632px;
        margin-right: 96px;
        gap: 72px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 104px;

            img {
                width: 64px;
                height: 64px;
            }

            p {
                color: #FFFFFF;
                text-align: center;
                white-space: normal;
                word-break: break-word;
            }
        }
    }

}