<div class="body">
    <div class="form">
        <div class="border-design">
            <p>{{ translation.translate('CONTACTME.NAME') }}</p>
            <input type="text" placeholder="{{ translation.translate('CONTACTME.NAMEPLACEHOLDER') }}">
        </div>
        <div>
            <p>{{ translation.translate('CONTACTME.EMAIL') }}</p>
            <input type="text" placeholder="{{ translation.translate('CONTACTME.EMAILPLACEHOLDER') }}">
        </div>
        <div class="border-design">
            <p>{{ translation.translate('CONTACTME.HELP') }}</p>
            <input type="text" placeholder="{{ translation.translate('CONTACTME.HELPPLACEHOLDER') }}">
        </div>
    </div>
    <div class="send-btn">
        <div class="privacy-policy">
            <div class="check-box-div">
                <label class="checkbox">
                    <input type="checkbox" (change)="onCheckboxChange($event)">
                    <span class="box"></span>
                </label>
                <p>{{ translation.translate('CONTACTME.POLICY1') }}</p>
                <p class="privacy-policy-link hover-underline">{{ translation.translate('CONTACTME.POLICY2') }}</p>
                <p>{{ translation.translate('CONTACTME.POLICY3') }}</p>
            </div>
            <p class="report" [class.active]="triedSubmit && !isChecked">
                {{ translation.translate('CONTACTME.ALLERT') }}
            </p>
        </div>
        <button class="button-hover-effect" [class.inactive]="!isChecked" (click)="onSubmitClick()">
            <p>{{ translation.translate('CONTACTME.BTN') }}</p>
        </button>
    </div>
</div>