<div class="body">
    <form class="form" #contactForm="ngForm" novalidate (ngSubmit)="onSubmitClick(contactForm)">

        <div class="border-design" 
            [class.invalid]="name.invalid && (name.touched || triedSubmit)">
            <p>{{ translation.translate('CONTACTME.NAME') }}</p>
            <input
            [(ngModel)]="contactData.name"
            name="name"
            #name="ngModel"
            required
            type="text"
            placeholder="{{ translation.translate('CONTACTME.NAMEPLACEHOLDER') }}">
        </div>

        <div
            [class.invalid]="email.invalid && (email.touched || triedSubmit)">
            <p>{{ translation.translate('CONTACTME.EMAIL') }}</p>
            <input
            [(ngModel)]="contactData.email"
            name="email"
            #email="ngModel"
            required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            email
            type="email"
            placeholder="{{ translation.translate('CONTACTME.EMAILPLACEHOLDER') }}">
        </div>

        <div class="border-design" 
            [class.invalid]="message.invalid && (message.touched || triedSubmit)">
            <p>{{ translation.translate('CONTACTME.HELP') }}</p>
            <input
            [(ngModel)]="contactData.message"
            name="message"
            #message="ngModel"
            required
            type="text"
            placeholder="{{ translation.translate('CONTACTME.HELPPLACEHOLDER') }}">
        </div>

        <div class="send-btn">
            <div class="privacy-policy">
                <div class="check-box-div">
                    <label class="checkbox">
                        <input type="checkbox" name="privacy" [(ngModel)]="isChecked" (change)="onCheckboxChange($event)">
                        <span class="box"></span>
                    </label>
                    <p>{{ translation.translate('CONTACTME.POLICY1') }}</p>
                    <a class="privacy-policy-link hover-underline" routerLink="/policy">{{ translation.translate('CONTACTME.POLICY2') }}</a>
                    <p>{{ translation.translate('CONTACTME.POLICY3') }}</p>
                </div>
                <p class="report" [class.active]="triedSubmit && !isChecked">
                    {{ translation.translate('CONTACTME.ALLERT') }}
                </p>
            </div>
            <button 
                type="submit"
                class="button-hover-effect"
                [class.inactive]="!isChecked || contactForm.invalid">
                <p>{{ translation.translate('CONTACTME.BTN') }}</p>
            </button>
    </div>
    </form>
</div>
    <div class="send-confirmation" [class.visible]="showSuccess">
        <p>{{ translation.translate('CONTACTME.SENT') || 'Message sent' }}</p>
    </div>