<div class="body">
    <div class="form">
        <div class="border-design">
            <p>What's your name?</p>
            <input type="text" placeholder="Your name goes here">
        </div>
        <div>
            <p>What's your email</p>
            <input type="text" placeholder="youremail@email.com">
        </div>
        <div class="border-design">
            <p>How can i help you?</p>
            <input type="text" placeholder="Hello Tino, I am interested in...">
        </div>
    </div>
    <div class="send-btn">
        <div class="privacy-policy">
            <div class="check-box-div">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="box"></span>
                </label>
                <p>I've read the</p>
                <p class="privacy-policy-link hover-underline">privacy policy</p>
                <p>and agree to the processing of my data as outlined.</p>
            </div>
            <p class="report">Please accept the privacy policy.</p>
        </div>
        <button class="button-hover-effect">
            <p>Say Hello!</p>
        </button>
    </div>
</div>