.featured-projects {
    width: 880px;
    margin-left: 96px;
    display: flex;
    flex-direction: column;
    gap: 41px;

    .headline-div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .portfolio {
            font-family: 'Karla';
            font-weight: 700;
            font-style: Bold;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #3DCFB6;
        }

        .headline {
            font-family: 'FiraCode';
            font-weight: 700;
            font-style: Bold;
            font-size: 64px;
            line-height: 100%;
            letter-spacing: -3%;
            color: #3DCFB6;
        }
    }

    .explanation {
        font-family: 'Karla';
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: justify;
        color: #FFFFFF;
    }
}