<div id="top" class="policy-container">
  <h1>{{ t('IMPRINT.TITLE') }}</h1>

  <div class="policy-section">
    <h2>{{ t('IMPRINT.SECTIONS.IMPRINT.TITLE') }}</h2>
    <p>{{ t('IMPRINT.SECTIONS.IMPRINT.CONTENT1') }}</p>
    <p>{{ t('IMPRINT.SECTIONS.IMPRINT.CONTENT2') }}</p>
    <p>{{ t('IMPRINT.SECTIONS.IMPRINT.CONTENT3') }}</p>
    <p>{{ t('IMPRINT.SECTIONS.IMPRINT.CONTENT4') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('IMPRINT.SECTIONS.CONTACT.TITLE') }}</h2>
    <p>{{ t('IMPRINT.SECTIONS.CONTACT.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('IMPRINT.SECTIONS.RESPONSIBLE.TITLE') }}</h2>
    <p>{{ t('IMPRINT.SECTIONS.RESPONSIBLE.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <h2>{{ t('IMPRINT.SECTIONS.DISPUTE.TITLE') }}</h2>
    <p>{{ t('IMPRINT.SECTIONS.DISPUTE.CONTENT') }}</p>
  </div>

  <div class="policy-section">
    <p>{{ t('IMPRINT.CONTACT') }}</p>
    <p class="date">{{ t('IMPRINT.DATE') }}</p>
  </div>

  <div class="policy-actions hover-underline">
    <a routerLink="/">{{ t('IMPRINT.BTN_BACK_HOME') }}</a>
  </div>
</div>
