.body {
    width: 880px;
    opacity: 1;

    .single-project {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-right: 32px;
        padding-bottom: 40px;
        padding-left: 32px;

        .headline {
            font-family: 'FiraCode';
            font-weight: 700;
            font-style: Bold;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #FFFFFF;
        }

        div {
            display: flex;
            gap: 4px;
            
            p {
                font-family: 'Karla';
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: 0%;
                color: #FFFFFF;
            }
        }
    }
}

.border-style {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #3DCFB6;
}

.spliter {
    color: #3DCFB6 !important;
}