<div class="body">
  <div class="projects-wrapper" (mouseleave)="activeProject = null">

    <div class="projects-table border-style">
      <div class="single-project" *ngFor="let project of projects; let i = index" (click)="openOverlay(i)"
        (mouseenter)="activeProject = project.id"
        [ngClass]="{ 'border-style': i === middleIndex }">
        <p class="headline">{{ project.title }}</p>

        <div>
          <ng-container *ngFor="let tech of project.techs; let last = last">
            <p>{{ tech.name }}</p>
            <p class="spliter" *ngIf="!last">|</p>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="project-preview">
      <img *ngFor="let project of projects" [src]="project.image" [class.visible]="activeProject === project.id" />
    </div>

  </div>
</div>

<div class="overlay" *ngIf="isOverlayOpen && selectedIndex !== null">
  <div class="overlay-content">
    <img class="close-btn" (click)="closeOverlay()" src="/assets/img/close_small.png" alt="">
    <div class="overlay-text">
      <div class="text-headline">
        <p class="headline-number">0{{ projects[selectedIndex].id }}</p>
        <p class="headline-project">{{ projects[selectedIndex].title }}</p>
      </div>
      <div class="text-description">
        <div class="description">
          <p class="description-headline">{{ translation.translate('PROJECTS.ABOUT') }}</p>
          <p class="description-text">{{ translation.translate('PROJECTS.DESCRIPTION' + projects[selectedIndex].id) }}</p>
        </div>
        <div class="text-icons">
          <div *ngFor="let tech of projects[selectedIndex].techs">
            <img [src]="tech.icon" alt="">
            <p>{{ tech.name }}</p>
          </div>
        </div>
      </div>
      <div class="text-btns">
        <button class="button-hover-effect" (click)="navigateToProject(projects[selectedIndex].githubLink)">
          <p>GutHub</p><img src="/assets/img/arrow_outward.png" alt="">
        </button>
        <button class="button-hover-effect" (click)="navigateToProject(projects[selectedIndex].liveLink)">
          <p>LiveTest</p><img src="/assets/img/arrow_outward.png" alt="">
        </button>
      </div>
    </div>
    <img class="shown-project" [src]="projects[selectedIndex].image" alt="">
    <div class="next-btn" (click)="next()">
      <p>Next project</p>
      <img src="/assets/img/arrow_forward.png" alt="">
    </div>
  </div>
</div>