.body {
    display: flex;
    justify-content: center;
    width: 100%;

    .projects-wrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 100%;
        max-width: 1440px;

        .projects-table {
            width: 50%;

            .single-project {
                display: flex;
                justify-content: space-between;
                padding: 40px 32px;
                transition: all 300ms ease-in-out;

                .headline {
                    font-family: 'FiraCode';
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    color: #FFFFFF;
                }

                div {
                    display: flex;
                    gap: 4px;

                    p {
                        font-family: 'Karla';
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 18px;
                        color: #FFFFFF;
                    }
                }

                &:hover {
                    background-color: rgba(61, 207, 182, 0.3);
                }
            }
        }

        .project-preview {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 330px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                border-radius: 10px;
                box-shadow: 10px 10px 10px #3DCFB6;
                opacity: 0;
                transition: opacity 0.4s ease;
            }

            img.visible {
                opacity: 1;
            }
        }
    }
}

.border-style {
    border-top: 1px solid #3DCFB6;
    border-bottom: 1px solid #3DCFB6;
}

.spliter {
    color: #3DCFB6 !important;
}

@media (max-width: 900px) {
    .projects-wrapper {
        flex-direction: column;

        .projects-table,
        .project-preview {
            width: 100%;
        }

        .project-preview img {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            width: 100%;
            margin: 0 auto;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .overlay-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 654px;
        width: 1248px;
        gap: 50px;
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        border: 1px solid #3DCFB6;
        border-radius: 30px;
        border-width: 1px;
        position: relative;

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            transition: all 125ms ease-in-out;


            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }

        .next-btn {
            display: flex;
            gap: 8px;
            position: absolute;
            bottom: 20px;
            right: 20px;
            transition: all 125ms ease-in-out;

            &:hover {
                cursor: pointer;
                transition: all 125ms ease-in-out;
                
                p {
                    transition: all 125ms ease-in-out;
                    color: #FFFFFF;
                }

                img {
                    transition: all 125ms ease-in-out;
                    transform: scale(1.2);
                    transform: translateX(3px);
                }
            }

            p {
                font-family: 'Karla';
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: 0%;
                color: #3DCFB6;

            }
        }

        .shown-project {
            width: 520px;
            height: 370px;
            border-radius: 30px;
            opacity: 1;
            top: 143px;
            left: 648px;
        }

        .overlay-text {
            display: flex;
            flex-direction: column;
            max-width: 480px;
            opacity: 1;
            top: 91px;
            left: 80px;
            gap: 40px;


            .text-headline {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .headline-number {
                    font-family: 'Karla';
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 128px;
                    line-height: 100px;
                    letter-spacing: -2%;
                    color: #3DCFB6;

                }

                .headline-project {
                    font-family: 'FiraCode';
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 64px;
                    line-height: 80%;
                    letter-spacing: -3%;
                    color: #FFFFFF;
                }
            }

            .text-description {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .description-headline {
                        font-family: 'FiraCode';
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        color: #3DCFB6;
                    }

                    .description-text {
                        font-family: 'Karla';
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 18px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                    }
                }
            }

            .text-icons {
                display: flex;
                gap: 16px;
                flex-direction: row;

                div {
                    display: flex;
                    gap: 4px;
                }

                img {
                    height: 24px;
                    width: 24px;
                }

                p {
                    font-family: 'Karla';
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                }
            }

            .text-btns {
                display: flex;
                gap: 32px;

                button {
                    display: flex;
                    border-radius: 100px;
                    border-width: 1px;
                    opacity: 1;
                    gap: 10px;
                    background: transparent;
                    border-color: #FFFFFF;
                    padding: 12px 24px;

                    p {
                        font-family: 'Karla';
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 18px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                    }

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}