<div class="body">
  <div class="projects-wrapper">

    <div class="projects-table border-style">
      <div class="single-project" *ngFor="let project of projects; let i = index" (click)="openOverlay(i)"
        (mouseenter)="activeProject = project.id" (mouseleave)="activeProject = null"
        [ngClass]="{ 'border-style': i === middleIndex }">
        <p class="headline">{{ project.title }}</p>

        <div>
          <ng-container *ngFor="let tech of project.techs; let last = last">
            <p>{{ tech }}</p>
            <p class="spliter" *ngIf="!last">|</p>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="project-preview">
      <img *ngFor="let project of projects" [src]="project.image" [class.visible]="activeProject === project.id" />
    </div>

  </div>
</div>

<div class="overlay" *ngIf="isOverlayOpen && selectedIndex !== null">
  <div class="overlay-content">
    <p>{{ projects[selectedIndex].title }}</p>
    <img class="close-btn" (click)="closeOverlay()" src="/assets/img/close_small.png" alt="">
    <div class="overlay-text">
      <div class="text-headline">
        <p class="headline-number">01</p>
        <p class="headline-project">Join</p>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <img class="shown-project" src="" alt="">
    <div class="next-btn"  (click)="next()">
      <p>next project</p>
      <img src="/assets/img/arrow_forward.png" alt="">
    </div>
    <!-- <button (click)="prev()">zurück</button> -->
  </div>
</div>