* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FiraCode';
}

body {
    overflow-x: hidden;
    background-color: #1C1C1C;
}

.content-wrapper {
    max-width: var(1440px);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button-hover-effect {
    cursor: pointer;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;

    &:hover {
        background-color: #1C1C1C;
    }

    &:before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(0deg,
                transparent,
                transparent 30%,
                rgba(0, 255, 255, 0.3));
        transform: rotate(-45deg);
        transition: all 0.5s ease;
        opacity: 0;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    }

    &:hover::before {
        opacity: 1;
        transform: rotate(-45deg) translateY(100%);
    }
}

@font-face {
    font-family: 'FiraCode';
    src: url('./assets/font/FiraCode-VariableFont_wght.ttf') format('woff2');
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/Karla-Italic-VariableFont_wght.ttf') format('woff2');
}