<div class="body">
    <div class="footer">
        <div class="left-content">
            <img src="assets/img/TW logo.png" alt="">
            <div class="left-content-text">
                <p>Web Developer</p>
                <p>Rostock Germany</p>
            </div>
        </div>
        <p class="copyright-content">© Tino Wulf 2026</p>
        <div class="right-content">
            <a class="hover-underline" target="_blank" href="https://github.com/TinoWulf">GitHub</a>
            <a class="hover-underline" target="_blank" href="https://www.linkedin.com/in/tino-wulf-270767382/">LinkedIn</a>
            <a class="hover-underline" href="mailto:wulf.tino.gz@gmail.com">Email</a>
            <a class="hover-underline" href="/policy">Legal Notice</a>
        </div>
    </div>
</div>