<div class="body">
    <div class="footer">
        <div class="left-content">
            <img src="/assets/img/quotes.png" alt="">
            <div class="left-content-text">
                <p>Web Developer</p>
                <p>Rostock Germany</p>
            </div>
        </div>
        <p class="copyright-content">© Tino Wulf 2026</p>
        <div class="right-content">
            <a class="hover-underline" href="">GitHub</a>
            <a class="hover-underline" href="">LinkedIn</a>
            <a class="hover-underline" href="">Email</a>
            <a class="hover-underline" href="">Legal Notice</a>
        </div>
    </div>
</div>