.body {
    height: 126px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;

        .left-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                width: 62px;
                height: 42px;
            }

            .left-content-text {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    font-family: 'Karla';
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                }
            }
        }

        .copyright-content {
            font-family: 'FiraCode';
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #3DCFB6;
        }

        .right-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 8px;

            a {
                font-family: 'Karla';
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0%;
                color: var(--version-2-white, #FFFFFF);
                text-decoration: none;

                &:hover {
                    color: #3DCFB6;
                }
            }
        }
    }
}