@media (max-width: 1220px) {
  .headline .headline {
    font-size: 40px !important;
  }

  .featured-projects {
    align-items: center;
  }

  .projects-table {
    flex: 0 1 700px;
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .headline .headline {
    font-size: 32px !important;
  }

  .explanation {
    font-size: 16px !important;
  }
}

@media (max-width: 576px) {
  .headline {
    font-size: 30px !important;
  }

  .explanation {
    font-size: 14px !important;
    line-height: 1.3 !important;
    max-width: 300px !important;
  }
}